<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269582413397-r5el20m6cjlaojobsmp24v2j3c943bsb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269582413397-r5el20m6cjlaojobsmp24v2j3c943bsb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>269582413397-or3gr10rb6r3gptlm9r2qd494qtsg11e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFE30s2GLOPPAotRZxhq-3PMpNaDGOCW8</string>
	<key>GCM_SENDER_ID</key>
	<string>269582413397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>go.id.kemenkeu.eMagazine</string>
	<key>PROJECT_ID</key>
	<string>staging-mediakeuangan</string>
	<key>STORAGE_BUCKET</key>
	<string>staging-mediakeuangan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269582413397:ios:c66a56eb854b1725</string>
	<key>DATABASE_URL</key>
	<string>https://staging-mediakeuangan.firebaseio.com</string>
</dict>
</plist>